@model dictionary.Models.DictionaryModels

<h1>Tworzenie nowego hasła</h1>

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="form-group ">
            <div class="row">
                <div class="row top-buffer">
                    <div class="col-md-6 ">
                        <div class="row">
                            <div class="col-md-6 ">
                                @Html.LabelFor(m => m.EngItem, new { @class = "label-form" })
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.EngItem, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-md-6">
                        <div class="row date">
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.FirstInput, new { @class = "label-form" })
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.FirstInput, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-md-6" align="left" )>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.BranchID, new { @class = "label-form" })
                            </div>
                            <div class="col-md-6">
                                @Html.DropDownListFor(m => m.BranchID, Model.BranchDropDown, new { @class = "selectpicker form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row top-buffer">
                    <p></p>
                    <div class="col-md-1 col-md-offset-3" align="left" )>
                        <button class="btn form-control" type="submit">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


@section scripts{
    <script>
        $('#FirstInput').datepicker({
            format: "dd-mm-yyyy",
            weekStart: 1,
            todayBtn: "linked",
            language: "pl",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true,
            datesDisabled: ['02/06/2017', '02/21/2017']
        });
    </script>

    <script>
        $('.BranchID').selectpicker({
            style: 'btn-info',
            size: 4
        });

    </script>
}