@model List<dictionary.Models.DictionaryModels>

@{
    ViewBag.Title = "ViewDictList";
}



<div class="container">
    <a class="btn" href="/Home/CreateNewDict">Utwórz nowy termin</a>
    <br/>
    <table id="tblMain" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>ENG</th>
                <th>POL</th>
                <th>Dział</th>
                <th>Część mowy</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.EngItem</td>
                    <td>@item.PolItem</td>
                    <td>@item.Branch</td>
                    <td>@item.PartOfSpeachStr</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#tblMain').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Polish.json"
                }
            });
        });
    </script>
}